<div class="container" id="site">


    <nav class="navbar  navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">

        <a class="navbar-brand" href="#"><strong>MK</strong></a>
        <ul class="nav navbar-nav">
          <li><a href="#info">Informacje</a></li>
          <li><a href="#edu">Wykształcenie</a></li>
          <li><a href="#exp">Doświadczenie</a></li>
          <li><a href="#contact">Kontakt</a></li>
          
        </ul> 
      </div><!-- /.container-fluid -->
    </nav>




    <div class="jumbotron">



      <h1><strong>Małgorzata Ksionek </strong> </h1>
      <br>
      <p class="text-info"><a name="info" ></a>Junior Rails Developer</p>
     
            <div class="row">
        <div class="col-xs-4 col-sm-3"><h3 id= "me">O mnie</h3><br></div>
        <div class="col-xs-6 col-sm-6"><%= image_tag("me.jpg", alt: "ME", class: "port img-circle" ) %>
          <h5>Nazywam się Małgorzata Ksionek. Z wykształcenia jestem psychologiem, jednak fascynacja programowaniem popchnęła mnie właśnie w tym kierunku.<br> Programuję w Ruby on Rails, znam także podstawy programowania w JavaScript, JQuery, mam także podstawową wiedzę na temat HTML, CSS oraz baz danych. <br>Poza programowaniem interesuję się kulturą Kuby, biegam oraz gram w gry planszowe. </h5> </div> 
          <div class="col-xs-4 col-sm-3">
            <h5>
              <%= fa_icon "mobile"%> 667 252 169
              <br><br>
              <a href="mailto: meksionek@gmail.com" target="_blank"> <%= fa_icon "envelope"%> Kontakt</a>
              <br><br>
              <a href="http://github.com/gpks" target="_blank"> <%= fa_icon "git"%> Projekty na Github</a><br><br>
              <a href="https://www.linkedin.com/in/meksionek" target="_blank"> <%= fa_icon "linkedin"%> Profil na LinkedIn</a><br><br> </h5>
            </div>
          </div>
          <hr>

          <div class="row">
            <div class="col-xs-4 col-sm-3"><a name="edu" ></a><h3 id = "edu">Wykształcenie</h3></div>
            
              <div class="col-xs-8 col-sm-6">
              <div class="row">

                <div class="col-xs-4 col-sm-2">
                  <h5><span >2014</span> </h5> 
                </div>
                <div class="col-xs-8 col-sm-10"><h5>
                  kurs programowania w Ruby on Rails w <a href="http://www.coderslab.pl/" target="_blank"> Coder's Lab</a></h5>
                </div>

                <div class="col-xs-4 col-sm-2">
                  <h5><span >2008-2014</span> </h5> 
                </div>
                <div class="col-xs-8 col-sm-10"><h5>
                  studia na Wydziale Psychologii Uniwersytetu Warszawskiego</h5>
                </div>

                
              </div>
            </div>
            </div>

          <hr>

          <div class="row">
            <div class="col-xs-4 col-sm-3">
              <a name="exp" ></a><h3 id = "exp">Doświadczenie</h3>
            </div>
            <div class="col-xs-8 col-sm-6">
            <div class="row">

               <div class="col-xs-4 col-sm-2">
                  <h5><span >2013-2014</span> </h5> 
                </div>
                <div class="col-xs-8 col-sm-10"><h5>
                  Fun and Mobile - asystentka zarządu <br><br>
                </h5>
              </div>
                <div class="col-xs-4 col-sm-2">
                  <h5><span >2014</span> </h5> 
                </div>
                <div class="col-xs-8 col-sm-10"><h5>
                  Krajowa Rada Radiofonii i Telewizji - praca biurowa</h5>
                </div>        

              <div class="col-xs-4 col-sm-2">
                  <h5><span >2010-2013</span> </h5> 
                </div>
                <div class="col-xs-8 col-sm-10"><h5>
                  Wydział Psychologii Uniwersytetu Warszawskiego - praca biurowa
                </h5>
              </div>
       
              <div class="col-xs-4 col-sm-2">
                <h5><span >2006-2010</span> </h5> 
              </div>
              <div class="col-xs-8 col-sm-10"><h5>
                Różne prace dorywcze
              </h5> </div>

              
          </div>

        </div>  
        </div>
      

      
    <hr>
    <%= render "contact"%>

    </div>
  </div>






